<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.rupertb.gollum.sync</string>
        <key>Program</key>
        <string>/Users/rupert/Developer/gollum-service/sync.sh</string>
        <key>WorkingDirectory</key>
        <string>/Users/rupert/Developer/wiki</string>
        <key>RunAtLoad</key>
        <true/>
        <key>StartInterval</key>
        <integer>60</integer>
        <key>WatchPaths</key>
        <array>
            <string>/Users/rupert/Developer/wiki/.git/refs/heads/master</string>
        </array>
    </dict>
</plist>
