<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.rupertb.gollum</string>
        <key>ProgramArguments</key>
        <array>
            <string>/usr/local/bin/gollum</string>
            <string>--plantuml-url=http://www.plantuml.com/plantuml/svg</string>
            <string>--emoji</string>
            <string>--allow-uploads=dir</string>
            <string>--css</string>
            <string>/Users/rupert/Developer/wiki</string>
        </array>
        <key>WorkingDirectory</key>
        <string>/Users/rupert/Developer/gollum-macos</string>
        <key>KeepAlive</key>
        <true/>
        <key>RunAtLoad</key>
        <true/>
    </dict>
</plist>
